body {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.333;
  background-color: #ffffff;
}

a,
button {
  cursor: pointer;
  color: inherit;
  font-family: inherit;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

.container {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 320px) {
  .container {
    width: 320px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 75px;
    padding-right: 75px;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    width: 1024px;
    padding-left: 71px;
    padding-right: 71px;
  }
}

.button {
  width: 40vw;
  height: 14vw;
  background-color: transparent;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  text-transform: uppercase;
  line-height: 1.333;
  border: 1px solid #ffffff;
  border-radius: 5px;
}

.button--current {
  color: #FF6B08;
  border: 1px solid #FF6B08;
}

@media screen and (min-width: 320px) {
  .button {
    width: 130px;
    height: 44px;
  }
}

@media screen and (min-width: 768px) {
  .button {
    width: 136px;
  }
}

.result__list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-left: -20px;
  margin-top: -20px;
}

@media screen and (min-width: 768px) {
  .result__list {
    margin-left: -30px;
    margin-top: -30px;
  }
}

.result__item {
  flex-basis: calc(100% / 1 - 20px);
  margin-left: 20px;
  margin-top: 20px;
}

@media screen and (min-width: 768px) {
  .result__item {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
    margin-top: 30px;
  }
}

@media screen and (min-width: 1024px) {
  .result__item {
    flex-basis: calc(100% / 3 - 30px);
  }
}

.card {
  width: 280px;
}

@media screen and (min-width: 768px) {
  .card {
    width: 273px;
  }
}

@media screen and (min-width: 1024px) {
  .card {
    width: 274px;
  }
}

.card__image-box {
  width: 280px;
  height: 398px;
  border-radius: 5px;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .card__image-box {
    width: 294px;
  }
}

@media screen and (min-width: 1024px) {
  .card__image-box {
    width: 274px;
  }
}

.card__image {
  object-fit: cover;
}

.card__info-box {
  width: 100%;
  padding-top: 10px;
}

.card__name {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.167;
  color: #000000;
}

@media screen and (min-width: 768px) {
  .card__name {
    line-height: 1.333;
  }
}

@media screen and (min-width: 768px) {
  .card__name {
    line-height: 1.167;
  }
}

.genres__item {
  position: relative;
  font-weight: 500;
  font-size: 12px;
  color: #FF6B08;
}

.genres__item:not(:last-child)::after {
  content: '';
  position: absolute;
  bottom: 2px;
  border-radius: 100% 0px 100% 0px;
  right: -2px;
  display: block;
  width: 2px;
  height: 3px;
  background-color: #FF6B08;
}

.genres__item:not(:last-child) {
  margin-right: 6px;
}

.genres__list {
  position: relative;
  display: flex;
  margin-right: 10px;
}

.genres__list::after {
  content: '';
  position: absolute;
  bottom: 3px;
  right: -5px;
  display: block;
  width: 1px;
  height: 10px;
  background-color: #FF6B08;
}

.card__details {
  display: flex;
  flex-wrap: wrap;
}

.genres__text,
.card__text {
  font-weight: 500;
  font-size: 12px;
  color: #FF6B08;
}

.card__text {
  margin-right: 10px;
}

.card__vote-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 16px;
  background-color: #FF6B08;
  border-radius: 5px;
}

.card__vote {
  color: #ffffff;
  line-height: 1.167;
}

.pagination {
  padding-top: 40px;
  padding-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .pagination {
    padding-top: 50px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1024px) {
  .pagination {
    padding-top: 46px;
  }
}

#back-to-top {
  padding: 3px;
  transition: 250ms;
  background-color: #F7F7F7;
}

#back-to-top:hover {
  fill: #F7F7F7;
  background-color: #FF6B08;
}

#back-to-top svg {
  fill: #FF6B08;
  width: 40px;
  height: 50px;
  margin: auto;
  border-radius: 50%;
  transition: 250ms;
}

#back-to-top svg:hover {
  transform: scale(1.3);
  fill: #F7F7F7;
}

.result {
  padding-top: 20px;
}

@media screen and (min-width: 768px) {
  .result {
    padding-top: 60px;
  }
}

.result__title {
  font-weight: 500;
  font-size: 30px;
  line-height: 1.167;
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: #000000;
}
/*# sourceMappingURL=main.css.map */