body {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.333;
  background-color: #ffffff;
}

a,
button {
  cursor: pointer;
  color: inherit;
  font-family: inherit;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

.container {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 320px) {
  .container {
    width: 320px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 75px;
    padding-right: 75px;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    width: 1024px;
    padding-left: 71px;
    padding-right: 71px;
  }
}

.button {
  width: 40vw;
  height: 14vw;
  background-color: transparent;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
  text-transform: uppercase;
  line-height: 1.333;
  border: 1px solid #ffffff;
  border-radius: 5px;
}

.button--current {
  color: #FF6B08;
  border: 1px solid #FF6B08;
}

@media screen and (min-width: 320px) {
  .button {
    width: 130px;
    height: 44px;
  }
}

@media screen and (min-width: 768px) {
  .button {
    width: 136px;
  }
}

.result__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin-left: -20px;
  margin-top: -20px;
}

@media screen and (min-width: 768px) {
  .result__list {
    margin-left: -30px;
    margin-top: -30px;
  }
}

.result__item {
  -ms-flex-preferred-size: calc(100% / 1 - 20px);
      flex-basis: calc(100% / 1 - 20px);
  margin-left: 20px;
  margin-top: 20px;
}

@media screen and (min-width: 768px) {
  .result__item {
    -ms-flex-preferred-size: calc(100% / 2 - 30px);
        flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
    margin-top: 30px;
  }
}

@media screen and (min-width: 1024px) {
  .result__item {
    -ms-flex-preferred-size: calc(100% / 3 - 30px);
        flex-basis: calc(100% / 3 - 30px);
  }
}

.modal__details {
  position: relative;
  display: inline-block;
  width: 88vw;
  height: 95vh;
  max-width: 450px;
  background-color: #fff;
  overflow: scroll;
  padding: 48px 30px 41px;
}

@media screen and (min-width: 768px) {
  .modal__details {
    width: 618px;
    max-width: 900px;
  }
}

@media screen and (min-width: 1024px) {
  .modal__details {
    width: 882px;
    max-width: 900px;
    padding: 50px 30px 41px;
  }
}

@media screen and (min-width: 768px) {
  .modal__details__wrapper {
    margin-right: 32px;
  }
}

@media screen and (min-width: 768px) {
  .modal__details__wrapper, .modal__details__box-info {
    width: 50%;
  }
}

.modal__details__icon--close {
  width: 14px;
  height: 14px;
  fill: #000000;
}

.modal__details__poster {
  width: 100%;
}

.modal__details__box {
  display: block;
  margin: -15px;
}

@media screen and (min-width: 768px) {
  .modal__details__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.modal__details__box--item {
  margin: 15px;
}

@media screen and (min-width: 768px) {
  .modal__details__box--item {
    width: calc((100% - 3 * 30px) / 2);
  }
}

.description__title {
  font-size: 20px;
  line-height: 1.15;
  margin-top: 30px;
  color: #000000;
}

@media screen and (min-width: 768px) {
  .description__title {
    margin-top: 0;
  }
}

.description__list {
  margin-top: 20px;
}

.description__votes--wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.description__name {
  min-width: 120px;
}

.description__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #8C8C8C;
}

.description__item:not(:last-child) {
  margin-bottom: 10px;
}

.description__genre:not(:last-child), .description__content:not(:last-child) {
  margin-bottom: 10px;
}

.description__votes, .description__vote {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.description__vote {
  display: inline-block;
  width: 36px;
  height: 16px;
  background-color: #FF6B08;
  line-height: 1.16;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
  color: #ffffff;
  margin-right: 3px;
}

.description__votes {
  width: 36px;
  height: 16px;
  line-height: 1.16;
  border-radius: 5px;
  background-color: #F7F7F7;
  text-transform: uppercase;
  color: #000000;
}

.description__divider {
  color: #8C8C8C;
  margin-right: 3px;
}

.about__title {
  line-height: 1.33;
  text-transform: uppercase;
  color: #000000;
  margin-top: 20px;
}

.about__overview {
  line-height: 1.67;
  color: #000000;
  margin-top: 10px;
  margin-bottom: 21px;
}

.nav__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 21px;
}

@media screen and (min-width: 1024px) {
  .nav__btn {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.nav__btn--item:not(:last-child) {
  margin-right: 15px;
}

.button__trailer,
.button__queue,
.button__watched {
  width: 100%;
  max-width: 113px;
  height: 44px;
  border-radius: 5px;
  line-height: 1.33;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

.button__trailer,
.watched {
  color: #ffffff;
  background-color: #FF6B08;
  border: transparent;
  padding: 9px 8px 12px;
}

.queue {
  border: 1px solid #000000;
  background-color: transparent;
  color: #000000;
}

.button__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: -15px;
}

.button__item {
  margin: 15px;
  width: calc((100% - 3 * 30px) / 3);
}

.btn__close {
  position: absolute;
  right: 18px;
  top: 18px;
  bottom: 16px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .btn__close {
    right: 10px;
    top: 10px;
  }
}

.btn__icon {
  width: 14px;
  height: 14px;
  fill: #000000;
}

.card {
  width: 280px;
}

@media screen and (min-width: 768px) {
  .card {
    width: 273px;
  }
}

@media screen and (min-width: 1024px) {
  .card {
    width: 274px;
  }
}

.card__image-box {
  width: 280px;
  height: 398px;
  border-radius: 5px;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .card__image-box {
    width: 294px;
  }
}

@media screen and (min-width: 1024px) {
  .card__image-box {
    width: 274px;
  }
}

.card__image {
  -o-object-fit: cover;
     object-fit: cover;
}

.card__info-box {
  width: 100%;
  padding-top: 10px;
}

.card__name {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.167;
  color: #000000;
}

@media screen and (min-width: 768px) {
  .card__name {
    line-height: 1.333;
  }
}

@media screen and (min-width: 768px) {
  .card__name {
    line-height: 1.167;
  }
}

.genres__item {
  position: relative;
  font-weight: 500;
  font-size: 12px;
  color: #FF6B08;
}

.genres__item:not(:last-child)::after {
  content: '';
  position: absolute;
  bottom: 2px;
  border-radius: 100% 0px 100% 0px;
  right: -2px;
  display: block;
  width: 2px;
  height: 3px;
  background-color: #FF6B08;
}

.genres__item:not(:last-child) {
  margin-right: 6px;
}

.genres__list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 10px;
}

.genres__list::after {
  content: '';
  position: absolute;
  bottom: 3px;
  right: -5px;
  display: block;
  width: 1px;
  height: 10px;
  background-color: #FF6B08;
}

.card__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.genres__text,
.card__text {
  font-weight: 500;
  font-size: 12px;
  color: #FF6B08;
}

.card__text {
  margin-right: 10px;
}

.card__vote-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 36px;
  height: 16px;
  background-color: #FF6B08;
  border-radius: 5px;
}

.card__vote {
  color: #ffffff;
  line-height: 1.167;
}

.pagination {
  padding-top: 40px;
  padding-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .pagination {
    padding-top: 50px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1024px) {
  .pagination {
    padding-top: 46px;
  }
}

.result {
  padding-top: 20px;
}

@media screen and (min-width: 768px) {
  .result {
    padding-top: 60px;
  }
}

.result__title {
  font-weight: 500;
  font-size: 30px;
  line-height: 1.167;
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: #000000;
}
/*# sourceMappingURL=main.css.map */