{{#each this}}
  <li class='modal-team__item'>
    <p class='modal-team__name'>{{name}}</p>
    <p class='modal-team__position'>{{position}}</p>
    <p class='modal-team__meta'>{{meta}}</p>
  </li>
{{/each}}