$color-logotype: #818181;
$color-accent: #FF6B08;
$color-accent-secondary: #F7F7F7;
$color-error: #FF001B;
$color-dark-main: #000000;
$color-dark-secondary: #545454;
$color-light-main: #ffffff;
$color-text-secondary: #8C8C8C;

$background-filter-header: rgba(0, 0, 0, 0.56);

// //*---fonts---*//
$font-family-main: Roboto, sans-serif;

// //*---time---*//
$timing-function-main: cubic-bezier(0.4, 0, 0.2, 1);
$time-main: 300ms;