$color-logotype: #818181;
$color-accent: #ff6b08;
$color-accent-secondary: #f7f7f7;
$color-error: #ff001b;
$color-dark-main: #000000;
$color-dark-secondary: #545454;
$color-light-main: #ffffff;
$color-text-secondary: #8c8c8c;
$color-background: #333333;

$background-filter-header: rgba(0, 0, 0, 0.56);

// //*---fonts---*//
$font-family-main: Roboto, sans-serif;

// //*---time---*//
$timing-function-main: cubic-bezier(0.4, 0, 0.2, 1);
$time-main: 300ms;
