<footer class="footer">
  <div class="container">
    <div class="footer__info">
      <div class="footer__copyright-parth">
        <p class="footer__copyright-text">&copy; 2020</p>
        <p class="footer__copyright-text">All Rights Reserved</p>
      </div>
      <div class="footer__developed-parth">
        <p class="footer__developed-text">Developed with</p>
        <p class="footer__developed-text">
          by<span><a class="footer__link" href=""> GoIT Students</a></span>
        </p>
      </div>
    </div>
  </div>
</footer>
