<footer class="footer">
  <div class="container">
    <div class="footer-info">
      <div class="footer-copyright">
        <p class="footer-copyright__text">&copy; 2020</p>
        <p class="footer-copyright__text">All Rights Reserved</p>
      </div>
      <div class="foorer-developed">
        <p class="foorer-developed__text">Developed with</p>
        <p class="foorer-developed__text">
          by<span><a class="footer-copyright__link" href=""> GoIT Students</a></span>
        </p>
      </div>
    </div>
  </div>
</footer>
