<footer class="footer">
  <div class="container">
    <div class="footer__info">
      <div class="footer__copyright-parth">
        <p class="footer__copyright-text">&copy; 2021</p>
        <p class="footer__copyright-text">
          <span lang="en">All Rights Reserved</span>
          <span lang="ru">Все права защищены</span>
        </p>
      </div>
      <div class="footer__developed-parth">
        <p class="footer__developed-text">
          <span lang="en">Developed with </span>
          <span lang="ru">Разработано с</span>
          <svg class="heart heart-beat" width="14" height="12">
            <use href="/images/sprite.svg#icon-heart" />
          </svg>
        </p>
        <p class="footer__developed-text">
          <span lang="en">by </span>
          <span lang="ru"></span>
          <span class="footer__developed-wrapper"
            ><a class="footer__link" href="">
              <span lang="en">GoIT Students</span>
              <span lang="ru">студентами GoIT</span>
            </a></span
          >
        </p>
      </div>
    </div>
  </div>
</footer>
