<div class="modal-backdrop is-hidden">
  <!-- <div class="container"> -->
    <div class="modal-team">
      <button class="button-close" aria-label="Close modal window">
        <!-- <svg class="icon-close" width="30" height="30" aria-label="Icon close">
          <use href="/images/sprite.svg#icon-close"></use>
        </svg> -->
      </button>
      <h2 class="modal-team__title">
        <span lang="en">Our team</span><span lang="ru">Наша команда</span>
      </h2>
      <ul class="modal-team__list list js-team__list"></ul>
    </div>
  <!-- </div> -->
</div>
