.pagination-box {
  width: 100%;
  height: 114px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: $tablet) {
    height: 148px;
  }

  @media screen and (min-width: $desktop) {
    height: 122px;
  }
}

div.tui-pagination {
  margin: 0;
  height: auto;
}

span.tui-first.tui-page-btn,
a.tui-page-btn.tui-last,
a.tui-page-btn.tui-first {
  display: none;
}

.tui-pagination a.tui-first-child.tui-page-btn,
.tui-pagination a.tui-page-btn {
  border-left: none;
  color: inherit;
  width: 38px;
  height: 38px;
  padding: 13px;
  line-height: 1.333;
  border-radius: 5px;
  margin-right: 2px;
  border: none;
  background-color: transparent;
}

.tui-pagination strong.tui-first-child.tui-page-btn,
.tui-pagination strong.tui-page-btn {
  border-left: none;
  color: $color-light-main;
  width: 38px;
  height: 38px;
  padding: 13px;
  line-height: 1.333;
  border-radius: 5px;
  margin-right: 2px;
  border: none;
  background-color: $color-accent;
}

.tui-pagination strong.tui-page-btn:hover,
.tui-pagination strong.tui-page-btn:focus {
  background-color: $color-accent;
}

.tui-pagination a.tui-page-btn:hover,
.tui-pagination a.tui-page-btn:focus {
  color: $color-dark-main;
}

.tui-page-btn.tui-is-disabled.tui-prev,
.tui-page-btn.tui-is-disabled.tui-prev {
  color: inherit;
  width: 38px;
  height: 38px;
  padding: 13px;
  line-height: 1.333;
  border-radius: 5px;
  margin-right: 2px;
  border: none;
  background-color: $color-accent-secondary;
}

.tui-pagination a.tui-page-btn.tui-prev-is-ellip.tui-first-child,
.tui-pagination a.tui-page-btn.tui-next-is-ellip.tui-last-child {
  display: none;
}

.tui-pagination a.tui-next {
  margin-left: 0;
  background-color: $color-accent-secondary;
}

.tui-page-btn a.tui-prev-is-ellip .tui-first-child,
.tui-pagination.hidden {
  display: none;
}

.span.tui-page-btn.tui-is-disabled.tui-prev,
.tui-page-btn.tui-is-disabled.tui-prev {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' enable-background='new 0 0 24 24' height='26px' viewBox='0 0 24 24' width='26px' fill='%23000000'%3E%3Crect fill='none' height='24' width='24'/%3E%3Cpath d='M9.37,5.51C9.19,6.15,9.1,6.82,9.1,7.5c0,4.08,3.32,7.4,7.4,7.4c0.68,0,1.35-0.09,1.99-0.27C17.45,17.19,14.93,19,12,19 c-3.86,0-7-3.14-7-7C5,9.07,6.81,6.55,9.37,5.51z M12,3c-4.97,0-9,4.03-9,9s4.03,9,9,9s9-4.03,9-9c0-0.46-0.04-0.92-0.1-1.36 c-0.98,1.37-2.58,2.26-4.4,2.26c-2.98,0-5.4-2.42-5.4-5.4c0-1.81,0.89-3.42,2.26-4.4C12.92,3.04,12.46,3,12,3L12,3z'/%3E%3C/svg%3E");
}

.span.tui-page-btn.tui-prev,
.tui-page-btn.tui-prev {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' enable-background='new 0 0 24 24' height='26px' viewBox='0 0 24 24' width='26px' fill='%23000000'%3E%3Crect fill='none' height='24' width='24'/%3E%3Cpath d='M9.37,5.51C9.19,6.15,9.1,6.82,9.1,7.5c0,4.08,3.32,7.4,7.4,7.4c0.68,0,1.35-0.09,1.99-0.27C17.45,17.19,14.93,19,12,19 c-3.86,0-7-3.14-7-7C5,9.07,6.81,6.55,9.37,5.51z M12,3c-4.97,0-9,4.03-9,9s4.03,9,9,9s9-4.03,9-9c0-0.46-0.04-0.92-0.1-1.36 c-0.98,1.37-2.58,2.26-4.4,2.26c-2.98,0-5.4-2.42-5.4-5.4c0-1.81,0.89-3.42,2.26-4.4C12.92,3.04,12.46,3,12,3L12,3z'/%3E%3C/svg%3E");
}
